@charset "utf-8";

// boxsizing:border-box
@mixin mx-box-sizing{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@mixin mx-bg($x-position,$y-position){
    background:url(../img/sp_minehero.png) no-repeat $x-position $y-position;
}


@mixin mx-sf{
    font-family:-apple-system,BlinkMacSystemFont,HelveticaNeue,AppleSDGothicNeo-Regular,sans-serif;
}

//border-radius
@mixin mx-border-radius($boder){
    border-radius:$boder;
    -webkit-border-radius:$boder;
}
